/* Header CSS */
.header-container {
  overflow: hidden;
  padding: 20px 10px;
  padding-bottom: 60px;
}

.header-left {
  float: left;
  height: 100px;
  width: 310px;
}

.header-left img {
  padding-top: 8px;
  height: 80px;
}

.header-left h1 {
  float: right;
  font-size: 40px;
}

.header-right {
  float: right;
  padding-top: 30px;
  padding-right: 10px;
}

.card img {
  height: 100%;
}

.top-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 250px;
}
/* 404 Page CSS */

.fof-container {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: black;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  color: rgb(26, 25, 25);
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .6s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* Detail Page CSS*/

.product-info {
  display: flex;
  flex-direction: row;
}

.image-container {
  padding-left: 100px;
  width: 40vw;
}

.image-container img {
  width: 80%;
}

.product-details {
  width: 45vw;
}